
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function getRole(userId) {
      return get(/databases/$(database)/documents/customers/$(userId)).data.role;
    }

    function isAdmin() {
      return isSignedIn() && (getRole(request.auth.uid) == 'store admin' || getRole(request.auth.uid) == 'owner');
    }

    function isPlatformOwner() {
      return isSignedIn() && getRole(request.auth.uid) == 'owner';
    }

    match /users/{userId} {
      allow get, list: if isOwner(userId) || isAdmin();
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);
    }

    match /customers/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      // Public can create as 'user', but ONLY owner can update roles to admin
      allow create: if isOwner(userId) && request.resource.data.role == 'user';
      allow update: if isPlatformOwner() || (isOwner(userId) && request.resource.data.role == resource.data.role);
    }

    match /page_customizations/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /carts/{userId} {
      allow read, write: if isOwner(userId);
    }
  }
}
